[tool.poetry]
name = "codegpt"
version = "0.0.2"
license = "GNU"
description = "A CLI tool for refactoring Python code using OpenAI's text-davinci-003 model"
authors = ["John Partee"]
repository = "https://github.com/morganpartee/codegpt"

[tool.poetry.dependencies]
python = "^3.8"
openai = "^0.2"
typer = "^0.4.0"
python-dotenv = "^0.21.0"
nltk = "^3.7"

[tool.poetry.dev-dependencies]
pytest = "^7.0"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"

[tool.poetry.scripts]
codegpt = "codegpt.codegpt:app"
